<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Segundo Parcial</title>

  <link rel="stylesheet" href="../../css/styles.css">
  
</head>
<body>
  <h1>Listado de Personajes Star Wars</h1>
  
  <div class="container">

    <div class="list"></div>

    <div class="buttons">
      <button id="previousButton">Previous</button>
      <button id="nextButton">Next page</button>
      <a href="../../index.html"><button>Inicio</button></a>
    </div>

  </div>
  <script src="../../js/personajes/personajes.js"></script>
</body>
</html>